body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;

    background-color: #101010;
    color: #e5e5e5;
    font-family: 'Times New Roman', Times, serif;
    

}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* background-color: yellow; */
    font-size: 4.5rem;

 
}
.slider{
    padding: 1rem;
    /* background-color: aqua; */
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
}